.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 11px;
  min-width: 132px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: block;
  transition: 0.2s;

  font-family: 'Inter', "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;

  &--lg {
    min-width: 164px;
    padding: 13px;
  }

  &--primary {
    background-color: $primary;
    color: $white;

    &:hover {
      filter: brightness(85%);
    }
  }

  &--outline {
    background-color: $white;
    color: $primary;
    border-color: $primary;

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}
