.cards-list__item {
  position: relative;

  border-radius: 8px;
}

.cards-list__info {
  background-color: $white;
}

.cards-list--destinations {
  .cards-list__info {
    position: absolute;
    bottom: 0;
    left: -1px;
    padding: 11px 22px 11px 1px;
    border-top-right-radius: 6px;
  }

  .cards-list__title {
    margin: 0 0 5px;
    color: $dark-green;
  }

  .cards-list__subtitle {
    margin: 0;
    color: $gray-3;
  }
}

.cards-list--stories {
  .cards-list__info {
    padding-top: 13px;
    margin: 0 -1px 0 -1px;
    position: absolute;
    bottom: -80px;
  }

  .cards-list__title {
    margin: 0 0 13px;
  }

  .cards-list__text-preview {
    font-family: 'Inter';
    font-size: 15px;
    line-height: 26px;
    color: $gray-2;

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    margin: 0 0 23px;
  }
}

.cards-list__more {
  text-decoration: none;
  font-family: 'Inter';
  font-size: 15px;
  line-height: 28px;
  color: $primary;
  font-weight: 600;
}
