.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  &--wide {
    max-width: 1300px;

    @media (max-width: 1300px) {
      max-width: 1120px;
    }
  }
}
