.footer-socials {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-socials__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.footer-socials__link {
  display: block;
  transition: 0.2s;
}

.footer-socials__link svg path {
  transition: 0.2s;
}

.footer-socials__link:hover {
  transform: scale(1.2);
}

.footer-socials__link--twitter:hover svg path {
  fill: $twitter;
}

.footer-socials__link--facebook:hover svg path {
  fill: $facebook;
}

.footer-socials__link--instagram:hover svg path {
  fill: $instagram;
}

.footer-socials__link--linked-in:hover svg path {
  fill: $linked-in;
}

.footer-socials__link--youtube:hover svg path {
  fill: $youtube;
}
