.footer-menu__list {
  padding: 20px 0 0 0;
  margin: 0;
  list-style-type: none;
}

.footer-menu__title {
  margin: 0;
}

.footer-menu__link {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: $gray-4;
  transition: 0.2s;

  @media (min-width: $lg) {
    &:hover {
      color: $primary;
    }
  }

  @extend %bottom-line;
}
