.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.2s;
}

.header--scroll {
  background-color: rgba(251, 143, 29, 0.85);

  & .header__wrapper {
    padding: 25px 0;

    @media (max-width: $xs) {
      padding: 15px 0;
    }
  }

  @media (min-width: $md) {
    & .nav-menu__link {
      color: $white;

      &--active {
        color: $dark-blue;
      }

      &:hover {
        &:not(.nav-menu__link--active) {
          color: $white;
        }
      }
    }

    & .nav-buttons__link {
      color: $white;

      &.btn {
        background-color: $white;
        color: $primary;
      }

      &.btn--outline {
        border-color: $white;
        background-color: transparent;
        color: $white;

        &:hover {
          background-color: $white;
          color: $primary;
        }
      }
    }
  }

  & .header-burger__line {
    background-color: $white;
  }
}

.header__wrapper {
  padding: 35px 0;
  transition: 0.2s;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 41px;
  height: 41px;

  @media (max-width: $md) {
    position: relative;
    z-index: 10;
  }
}
