.main {
  padding-bottom: 170px;

  @media (max-width: $xl) {
    padding-bottom: 140px;
  }

  @media (max-width: $lg) {
    padding-bottom: 90px;
  }

  @media (max-width: $md) {
    padding-bottom: 60px;
  }
}
