.page-body {
  font-family: "Mulish", "Arial", sans-serif;
  padding-top: 140px;

  @media (max-width: $lg) {
    padding-top: 90px;
  }

  @media (max-width: $sm) {
    padding-top: 70px;
  }
}

.page-body.lock {
  overflow: hidden;
}
