.title {
  font-family: 'PlayfairDisplay', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;

  @media (max-width: $xs) {
    font-size: 32px;
    line-height: 46px;
  }
}
